@use '../../abstracts' as *;

.map{
    @include padding(10rem);

    iframe{
        width: 100%;
        height: 35rem;
        border: none;
    }

    //breakpoint tablet
    @include mq(md){
        iframe{
            height: 30rem;
        }
    }

    //breakpoint mobile
    @include mq(sm){
        iframe{
            height: 28rem;
        }
    }
}