@use '../../abstracts' as *;

.hero{
    $gap: calc(var(--gap) * 12);
    padding-top: $gap;
    padding-left: $gap;
    width: 100%;
    height: 100vh;
    background: {
        image: url("../images/bg-home.svg");
        size: cover;
        position: center;
    }

    &::before {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        content: "";
        width: 36%;
        height: 83%;
        background-color: var(--clr-dark-900);
        z-index: -1;
    }

    &__row{
        padding-bottom: 4rem;
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: 40% 1fr;
        gap: 10rem;

        &__image{
            width: 100%;
            max-height: calc(100vh - #{$gap} - 4rem);

            img{
                //max-width: none;
                width: 100% !important;
                height: 100% !important;
                object-fit: cover;
            }
        }

        &__content{
            &__image {
                margin-bottom: var(--fs-800);
                position: relative;
                //max-height: 36.6rem;
                max-height: calc(100vh - #{$gap} - 4rem - 32rem - 3.2rem);
                height: 100%;

                &::after {
                    position: absolute;
                    bottom: -1.2rem;
                    right: 0;
                    display: block;
                    content: "";
                    width: 86%;
                    height: 1.2rem;
                    background: var(--clr-blue-500);
                    z-index: -1;
                }

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: top left;
                }
            }

            &__text {
                max-width: 61rem;

                &__header {
                    margin-bottom: var(--fs-100);

                    h2 {
                        font-family: "Noto Serif Bold", serif !important;
                        font-size: var(--fs-1000);

                        span {
                            color: var(--clr-blue-500);
                        }
                    }
                }

                p {
                    margin-bottom: var(--fs-600);
                    font-size: var(--fs-600);
                    text-align: justify;
                }

                &__link {
                    transform-origin: top;
                    -webkit-animation: scroll 1500ms linear infinite alternate;
                    animation: scroll 1500ms linear infinite alternate;
                    i {
                        font-size: 5rem;
                        color: var(--clr-blue-500) !important;
                    }
                }
            }
        }
    }

    // breakpoint 1440px
    @include bp(1440px){
        $gap: calc(var(--gap) * 10);
        padding-top: $gap;
        padding-left: $gap;

        &__row{
            &__image{
                max-height: calc(100vh - #{$gap} - 4rem);
            }

            &__content{
                &__image{
                    max-height: calc(100vh - #{$gap} - 4rem - 25rem - 3.2rem);
                }

                &__text{
                    padding-right: calc(var(--gap) * 2);
                    &__header{
                        h2{
                            font-size: 4.2rem;
                        }
                    }

                    p{
                        font-size: var(--fs-400);
                    }
                }
            }
        }
    }
    // breakpoint 1366px
    @include bp(1366px){
        $gap: calc(var(--gap) * 7);
        padding-top: $gap;
        padding-left: $gap;

        &__row{
            &__image{
                max-height: calc(100vh - #{$gap} - 4rem);
            }

            &__content{
                &__image{
                    max-height: calc(100vh - #{$gap} - 4rem - 25rem - 3.2rem);
                }
            }
        }
    }

    //breakpoint tablet
    @include mq(md){

        &::before {
            width: 70%;
            height: 40%;
            background-color: var(--clr-dark-900);
            z-index: -1;
        }

        &__row{
            display: block;
            &__image{
                display: none;
            }

            &__content{
                &__image{
                    height: 45rem;
                }
            }
        }
    }
    //breakpoint mobile
    @include mq(sm){
        $gap: calc(var(--gap) * 3);
        padding-left: $gap;

        &__row{
            display: block;

            &__content{
                &__image{
                    height: 38rem;
                }

                &__text{

                    &__header{
                        margin-bottom: var(--fs-600);

                        h2{
                            font-size: 5.4rem;
                        }
                    }
                }
            }
        }
    }

    //breakpoint 375px
    @include bp(375px){
        &__row{
            &__content{
                &__image{
                    height: 34rem;
                }

                &__text{
                    &__header{
                        h2{
                            font-size: var(--fs-900);
                        }
                    }
                }
            }
        }
    }


}

//keyframes
@keyframes scroll {
    from {
        transform: translateY(1.5rem);
        @include transition(transform);
    }
    to {
        transform: translateY(0);
        @include transition(transform);
    }
}