@use '../abstracts' as *;

.header {
    //display: block;
    position: fixed;
    display: flex;
    align-items: center;
    width: 100%;
    z-index: 200;
    //background-color: rgba(white, 0.9);

    i{
        font-size: 7rem !important;
        color: white !important;
    }

    &__container{
        margin: 0 auto;
        padding: 4rem calc(var(--gap) * 2);
        max-width: calc(156rem + var(--gap) * 2);
        width: 100%;
    }

    &__navbar {
        @include padding(var(--fs-300));
        display: flex;
        justify-content: space-between;
        align-items: center;

        &__section {
            &__container {
                display: flex;
                align-items: center;

                &__nav {
                    ul {
                        margin: 0;
                        padding: 0;

                        .menu-item-has-children{
                            position: relative;

                            &::after{
                                display: inline-block;
                                content: '\25BE';
                                color: var(--clr-dark-900);
                                transform: rotate(0);
                                @include transition(transform);
                            }
                        }

                        .rotate{

                            &::after{
                                transform: rotate(180deg);
                                @include transition(transform);
                            }
                        }

                        li {
                            display: inline-block;
                            line-height: 1;

                            &:not(:last-child) {
                                margin-right: var(--fs-500);
                            }


                            .sub-menu{
                                display: none;
                            }

                            .active{
                                position: absolute;
                                top: 2rem;
                                left: 0;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                flex-direction: column;
                                padding: 0;
                                background: white;
                                z-index: 200;

                                li{
                                    background: transparent;
                                    color: inherit;
                                    transition: all 300ms ease-in-out;

                                    &:hover{
                                        background: var(--clr-blue-500);
                                        transition: all 300ms ease-in-out;

                                        a{
                                            color: white !important;
                                        }
                                    }
                                }
                            }

                            a {
                                position: relative;
                                color: inherit;
                                @include transition(color);

                                &:hover {
                                    color: var(--clr-blue-500);
                                    @include transition(color);
                                }
                            }
                        }
                    }
                }

                &__google{
                    margin-left: var(--fs-1100);
                    width: auto;
                    height: 100%;
                }
            }

        }
    }

    &--active {
        .header__navbar {
            &__section {
                &__toggle {
                    position: absolute;
                    top: 3.4rem;
                    right: 3rem;
                    z-index: 300;

                    &__bar {
                        background-color: white;

                        &:nth-child(1) {
                            transform: rotate(45deg) translate(0.9rem, 0.9rem);

                            @include transition(transform);
                        }

                        &:nth-child(2) {
                            opacity: 0;
                            @include transition(opacity);
                        }

                        &:nth-child(3) {
                            transform: rotate(-45deg) translate(0.9rem, -0.9rem);
                            @include transition(transform);
                        }
                    }
                }

                &__container {
                    display: block;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100vh;
                    background-color: var(--clr-neutral-900);
                    z-index: 200;

                    &__nav {
                        width: 100%;
                        height: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        ul {
                            li {
                                display: block;
                                margin: var(--fs-800) 0;
                                font-size: var(--fs-700);
                                text-align: center !important;
                                color: white;
                            }
                        }
                    }
                }
            }
        }
    }

    @include mq(md) {
        &__navbar {
            &__section {
                &__toggle {
                    cursor: pointer;

                    &__bar {
                        width: 4rem;
                        height: 4px;
                        background-color: var(--clr-neutral-900);

                        &:not(:last-child) {
                            margin-bottom: 0.8rem;
                        }

                        &:nth-child(1) {
                            transform-origin: center;
                            transform: rotate(0) translate(0);
                            @include transition(transform);
                        }

                        &:nth-child(2) {
                            opacity: 1;
                            @include transition(opacity);
                        }

                        &:nth-child(3) {
                            transform-origin: center;
                            transform: rotate(0) translate(0);
                            @include transition(transform);
                        }
                    }
                }

                &__container {
                    display: none;
                }
            }
        }
    }
}
